.LeftContent {
  position: fixed;
  height: 100%;
  max-width: 100%;
}

.Rightcontent {
  overflow: auto;
}

.LeftContent .cornerstone-canvas {
  height: 838px;
}

.ohif-viewer .ToolbarRow .toolbar-button {
  color: black;
}
